/* ROOT */

:root {
    --color-bgheader: #3161e0;
    --color-light: #fff;
    --color-dark: #23272a;
    --color-lightdark: #313848;
    --color-h3footer: #7289da;
    --color-buttonfooter: #8ea1e1;
    --color-separator: #313848;
}

/* DEBUG */

.debug * {
    border: 1px dotted;
}

.debug .header-bg {
    background-color: #3161e0;
}

.debug .title {
    background-color: rgba(48, 18, 201, 0.719);
}

.debug .jumbotron {
    background-color: #3161e0;
}

.debug .left,
.debug .right {
    background-color: blueviolet;
}

.debug footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.debug .separator {
    border: 2px solid purple;
}

.debug #menu-footer {
    background-color: rgb(109, 44, 44);
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    font-family: "Roboto", sans-serif;
}

.bg-lightgray {
    background-color: lightgrey;
}

.bg-white {
    background-color: var(--color-light);
}

.bg-lightblue {
    background-color: lightblue;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 1.1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.8rem;

}

/* LAYOUT */

.container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 3rem;
}

.container.navbar {
    justify-content: space-between;
    padding: 1.1rem 0;
    align-items: center;
}

.container-sm {
    width: 50%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    color: var(--color-light);
    text-align: center;
}

.main-section {
    justify-content: space-between;
    padding: 2rem 0;
}

.last-section {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 50px 0;
}

#footer {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.footer-container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/* UTILS */

.btn {
    border-radius: 30px;
    padding: 0.7rem;
}

.btn-white {
    background-color: var(--color-light);
    border: 1px solid lightgray;
}

.btn-black {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.btn-lightblue {
    background-color: #8ea1e1;
    color: white;
    border: 1px solid #b9c5e5;
}

.sp-btw {
    justify-content: space-between;
}

.w-45 {
    flex-basis: 45%;
}

.w-55 {
    flex-basis: 55%;
}

.ptop-30 {
    padding-top: 30px;
}

.reverse {
    flex-direction: row-reverse;
}

.logo>img {
    width: 7rem;
}

.separator {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2rem;
    border: 3px solid var(--color-separator);
}

/* wave effect */

.wave {
    width: 100%;
    height: 100px;
    opacity: 17%;
}

.wave>img {
    width: 100%;
    height: 100px;
}

.reverse-wave>img {
    transform: rotate(180deg);
}

/* NAVBAR */

.header-bg {
    background-color: var(--color-bgheader);
}

.menu-header a {
    padding-right: 2rem;
}

/* JUMBOTRON */

.jumbotron {
    background-image: url(../img/jumbo.png);
    width: 100%;
    background-size: cover;
    background-position: center;
}

h1~p {
    font-size: 1.3rem
}


/* SECTIONS */

h2~p {
    font-size: 1.5rem;
}

.last-section>.text-with-stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 5rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */

li>h3 {
    color: var(--color-h3footer);
}

.footer-container a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 0.7rem;
}

.link-footer>li {
    line-height: 2.5rem;
    list-style-type: none;
}

.social-menu {
    font-size: 1.3rem;
}

.menu-footer {
    line-height: 0.9rem;
}

span>img {
    height: 1rem;
    vertical-align: baseline;
}