/* ROOT */

:root{
    --color-bgheader:#3161e0;
    --color-light:#fff;
    --color-dark:#23272a;
    --color-lightdark: #313848;
    --color-h3footer:#7289da;
    --color-buttonfooter:#8ea1e1;
    --colore-separator:#a54848;
}

/* DEBUG */

.debug * {
    border: 1px dotted;
}

.debug .header-bg {
    background-color:#3161e0;
}

.debug .title {
    background-color: rgba(48, 18, 201, 0.719);
}

.debug .jumbotron {
    background-color:#3161e0;
}

.debug .left,
.debug .right {
    background-color: blueviolet;
}

.debug footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.debug .separator {
    border: 2px solid purple;
}
.debug #menu-footer{
    background-color: rgb(109, 44, 44);
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    font-family: "Roboto", sans-serif;
}

.bg-lightgray {
    background-color:lightgrey;
}

.bg-white {
    background-color: #fff;
}

.bg-lightblue {
    background-color: lightblue;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
/* LAYOUT */

.container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 3rem;
}

.container-sm {
    width: 50%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    color: #fff;
    text-align: center;
}


.container.navbar {
    justify-content: space-between;
    padding:1.1rem 0;
    align-items:center;
}

.footer-container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.reverse {
    flex-direction: row-reverse;
}

/* UTILS */

.btn {
    border-radius: 30px;
    padding: 0.7rem;
}

.btn-white {
    background-color: var(--color-light);
    border: 1px solid lightgray;
}

.btn-black {
    background-color: var(--color-dark);
    color: white;
}

.sp-btw{
    justify-content: space-between;
}
/* NAVBAR */

.header-bg {
    background-color: #255EE9;
}

.menu-header a {
    padding-right: 2rem;
}

/* SECTIONS */

.main-section {
    justify-content: space-between;
    padding: 4rem 0;

}

.left {
    flex-basis: 40%;
}

.right {
    flex-basis: 55%;
}

.last-section {
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

/* FOOTER */

#menu-footer {
    background-color: #23272a;
    color: #fff;
} 

.footer-container a {
    color: white;
    text-decoration: none;
 font-size: 0.7rem;
}

.link-footer>li {
    line-height: 1.5rem;
    list-style-type: none;
}

.social {
    line-height: 2rem;
    font-size: 1.3rem;
}

.menu-footer {
    line-height: 0.9rem;
}

.separator {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2rem;
    border: 3px solid #313848;
}
